<Config>
    <Common startMaximised="false" lastWidth="1280" lastHeight="720" lastX="155" lastY="344" alwaysOnTop="false" lastAudioDevice="4" lastBgCol_r="128" lastBgCol_g="110" lastBgCol_b="128" transparent="false" menuOnStart="true" lastLayerSet="Edie_Advanced.xml" softFall="7" useKeyboardHook="true"/>
</Config>
